/* button component */
.button {
    margin-left: 15px;
    background-color: rgb(197, 109, 8);
    box-shadow: 1px 1px 2px #b84;
    color: #fff;
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 0px;
  }
  
  .button:hover {
    background: #aa7721;
    color: #fff;
  }
  
  .button:hover span {
    color: #fff;
  }
  